.container-fluid {

   background-color: transparent;
   background-image: linear-gradient(70deg, #FF0505BD 40%, #003BB170 100%);
   opacity: 1;
   transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

body#connexion, body#registration{
   background-color: #ffffff;
   background-image: url("../img/dondeSang.jpg");
   /* background-position: center left; */
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
} 

.fs-10 {
   font-size: 10px;
}

.fs-12 {
   font-size: 12px;
}

.fs-xx-small th{
   font-size: small !important;
}
.fs-x-small {
   font-size: x-small !important;
}
.fs-small {
   font-size: small !important;
}
.fs-xx-small {
   font-size: xx-small !important;
}
.progress-sm {
   height: 0.5rem;
}
.progress-md {
   height: 0.7rem;
}
.progress-lg {
   height: 1rem;
}